<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="container">
    <div class="page-content">
      {{ content }}
    </div>
    {% include google_analytics.html %}
    <img  style="position: fixed; top: 0px; left: 0px; background: transparent;" src="http://www.animatieplanet.de/geraamte/6.gif"/>
    <img  style="position: fixed; top: 0px; right: 0px; background: transparent; border:1px solid #008000;" src="ata.png"/>

  </body>
<div class="fuutir">
© 2017 Turkish Hacking and Fucking Services 
</div>

</html>
