<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="container">
    <div class="page-content">
      {{ content }}
    </div>
    {% include google_analytics.html %}
    <img  style="position: fixed; top: 0px; left: 0px; background: transparent;" src="6.gif"/>
<script>
  $(function(){
  $('img').each(function(e){
    var src = $(e).attr('src');
    $(e).hover(function(){
      $(this).attr('src', src.replace('.gif', '6.gif'));
    }, function(){
      $(this).attr('src', src);
    });
  });
});
    </script>
  </body>
<div class="fuutir">
© 2017 Turkish Hacking and Fucking Services 
</div>

</html>
